body{
  width: 99vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.board{
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-row {
  display: flex;
}